<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.communication.address.mapper.AddressBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ew.communication.address.entity.AddressBook">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="user_id" property="userId"/>
        <result column="from_id" property="fromId"/>
        <result column="version" property="version"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by
        ,
        create_time,
        update_by,
        update_time,
        remark,
        id, user_id, from_id, version, create_id, update_id, delete_flag
    </sql>

    <select id="getAddressBookList" resultType="com.ew.communication.address.dto.AddressBookDto">
        SELECT
               b.id,
               b.real_name AS name,
               (SELECT location FROM t_file_meta WHERE id = b.portrait AND delete_flag = 0 LIMIT 1) AS avatar,
               b.email,
               b.description
        FROM t_address_book a
                 JOIN t_user b ON a.user_id = b.id
        WHERE a.delete_flag = 0
          AND b.delete_flag = 0
          AND a.from_id = #{user_id}
        <if test="query.name != null and query.name != ''">
            AND b.real_name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.email != null and query.email != ''">
            AND b.email LIKE CONCAT('%', #{query.email}, '%')
        </if>
        ORDER BY b.real_name ASC
        LIMIT #{query.offset}, #{query.limit}
    </select>

    <select id="getAddressBookListCount" resultType="integer">
        SELECT COUNT(*)
        FROM t_address_book a
        JOIN t_user b ON a.user_id = b.id
        WHERE a.delete_flag = 0
        AND b.delete_flag = 0
        AND a.from_id = #{user_id}
        <if test="query.name != null and query.name != ''">
            AND b.real_name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.email != null and query.email != ''">
            AND b.email LIKE CONCAT('%', #{query.email}, '%')
        </if>
    </select>

    <select id="getAddressBookListByGroup" resultType="com.ew.communication.address.dto.AddressBookDto">
        SELECT id,
               real_name                                                                  AS name,
               email,
               (SELECT location FROM t_file_meta WHERE id = portrait AND delete_flag = 0) AS avatar,
               description
        FROM t_user
        WHERE id IN (SELECT DISTINCT user_id
                     FROM t_user_mtm_group
                     WHERE group_id IN (SELECT group_id
                                        FROM t_user_mtm_group
                                        WHERE user_id = #{user_id} AND delete_flag = 0)
                       AND delete_flag = 0)
          AND delete_flag = 0
    </select>

</mapper>
