<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Easy Work 日程提醒</title>
</head>
<body>
<div id="contentDiv"
     style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;"
     class="body">
    <div id="qm_con_body">
        <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="opacity: 1;">
            <table border="0" cellspacing="0" cellpadding="0" style="max-width: 600px;">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td align="center"><img src="https://easywork23.oss-cn-shenzhen.aliyuncs.com/attachment/easy_work_logo.png"
                                                        style="display: block; width: 160px; height: 35px;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="16"></tr>
                <tr>
                    <td>
                        <table bgcolor="#1378c0" width="100%" border="0" cellspacing="0" cellpadding="0"
                               style="min-width: 332px; max-width: 600px; border: 1px solid #E0E0E0; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                            <tbody>
                            <tr>
                                <td height="72px" colspan="3"></td>
                            </tr>
                            <tr>
                                <td width="32px"></td>
                                <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 24px; color: #FFFFFF; line-height: 1.25;">
                                    Easy Work 日程提醒
                                </td>
                                <td width="32px"></td>
                            </tr>
                            <tr>
                                <td height="18px" colspan="3"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0"
                               style="min-width: 332px; max-width: 600px; border: 1px solid #F0F0F0; border-bottom: 1px solid #C0C0C0; border-top: 0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                            <tbody>
                            <tr height="16px">
                                <td width="32px" rowspan="3"></td>
                                <td></td>
                                <td width="32px" rowspan="3"></td>
                            </tr>
                            <tr>
                                <td><p>尊敬的用户：</p>
                                    <div>
                                        <span>您有一个日程 </span>
                                        <span style="color: #409eff" th:text="${title}">日程名称</span>
                                        <span>，时间为
                                            <span style="color: #409eff">
                                                <span th:text="${startTime}">2023-05-01 16:35:03</span>
                                                <span> - </span>
                                                <span th:text="${endTime}">2023-05-01 16:35:15</span>
                                            </span>
                                            <span>，距离开始还有 <span style="color: #409eff" th:text="${minutes}">30</span> 分钟，请及时参加。</span>
                                        </span>
                                    </div>
                                    <div style="margin-bottom: 32px">
                                        <p>点击此处 <a style="color: #409eff" href="http://127.0.0.1:9528/#/login" target="_blank">登录Easy Work</a>。</p>
                                    </div>
                                    <p>此致</p>
                                    <p>Easy Work 帐号团队敬上</p></td>
                            </tr>
                            <tr height="32px"></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {
                display: none !important;
            }</style>
        </div>
    </div><!-- -->
    <style>#mailContentContainer .txt {
        height: auto;
    }</style>
</div>
</body>
</html>
