<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.project.netdisk.mapper.NetDiskFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ew.project.netdisk.entity.NetDiskFile">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="file_id" property="fileId"/>
        <result column="file_name" property="fileName"/>
        <result column="file_name_num" property="fileNameNum"/>
        <result column="extend_name" property="extendName"/>
        <result column="file_path" property="filePath"/>
        <result column="is_dir" property="isDir"/>
        <result column="belong_type" property="belongType"/>
        <result column="belong_id" property="belongId"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by
        ,
        create_time,
        update_by,
        update_time,
        remark,
        id, file_id, file_name, file_name_num, extend_name, file_path, is_dir, belong_type, belong_id, delete_time, deleted, version, create_id, update_id, delete_flag
    </sql>

    <select id="getProNetFile" resultType="com.ew.project.netdisk.dto.NetDiskFileDto">
        SELECT a.id,
               a.file_id,
               a.file_name,
               a.file_name_num,
               a.extend_name,
               a.file_path,
               a.is_dir,
               a.belong_type,
               a.belong_id,
               a.deleted,
               a.delete_time,
               a.create_id,
               (SELECT real_name FROM t_user WHERE id = a.create_id AND delete_flag = 0 LIMIT 1) AS create_by,
	           a.create_time,
               a.update_id,
               (SELECT real_name FROM t_user WHERE id = a.create_id AND delete_flag = 0 LIMIT 1) AS update_by,
               a.update_time,
	           (SELECT `name` FROM t_project WHERE id = a.belong_id AND delete_flag = 0 LIMIT 1) AS belong_name
        FROM
            t_net_disk_file a
        WHERE a.delete_flag = 0
        AND a.belong_id IN
            (SELECT id FROM t_project WHERE group_id
            IN (SELECT group_id FROM t_user_mtm_group WHERE user_id = #{user_id} AND delete_flag = 0)
            AND delete_flag = 0)
        <if test="query.fileName != null and query.fileName != ''">
            AND a.file_name LIKE CONCAT('%', #{query.fileName}, '%')
        </if>
        <if test="query.filePath != null and query.filePath != ''">
            AND a.file_path = #{query.filePath}
        </if>
        ORDER BY a.create_time ASC
        LIMIT #{query.offset}, #{query.limit}
    </select>

    <select id="getProNetFileCount" resultType="integer">
        SELECT COUNT(*)
        FROM
            t_net_disk_file a
        WHERE a.delete_flag = 0
        AND a.belong_id IN
            (SELECT id FROM t_project WHERE group_id
            IN (SELECT group_id FROM t_user_mtm_group WHERE user_id = #{user_id} AND delete_flag = 0)
            AND delete_flag = 0)
        <if test="query.fileName != null and query.fileName != ''">
            AND a.file_name LIKE CONCAT('%', #{query.fileName}, '%')
        </if>
        <if test="query.filePath != null and query.filePath != ''">
            AND a.file_path = #{query.filePath}
        </if>
    </select>

    <select id="getPerNetFile" resultType="com.ew.project.netdisk.dto.NetDiskFileDto">
        SELECT a.id,
               a.file_id,
               a.file_name,
               a.file_name_num,
               a.extend_name,
               a.file_path,
               a.is_dir,
               a.belong_type,
               a.belong_id,
               a.deleted,
               a.delete_time,
               a.create_id,
               (SELECT real_name FROM t_user WHERE id = a.create_id AND delete_flag = 0 LIMIT 1) AS create_by,
               a.create_time,
               a.update_id,
               (SELECT real_name FROM t_user WHERE id = a.create_id AND delete_flag = 0 LIMIT 1) AS update_by,
               a.update_time,
               (SELECT real_name FROM t_user WHERE id = a.belong_id AND delete_flag = 0 LIMIT 1) AS belong_name
        FROM
            t_net_disk_file a
        WHERE a.delete_flag = 0
        AND a.belong_id = #{user_id}
        <if test="query.fileName != null and query.fileName != ''">
            AND a.file_name LIKE CONCAT('%', #{query.fileName}, '%')
        </if>
        <if test="query.filePath != null and query.filePath != ''">
            AND a.file_path = #{query.filePath}
        </if>
        ORDER BY a.create_time ASC
        LIMIT #{query.offset}, #{query.limit}
    </select>

    <select id="getPerNetFileCount" resultType="integer">
        SELECT COUNT(*)
        FROM
            t_net_disk_file a
        WHERE a.delete_flag = 0
        AND a.belong_id = #{user_id}
        <if test="query.fileName != null and query.fileName != ''">
            AND a.file_name LIKE CONCAT('%', #{query.fileName}, '%')
        </if>
        <if test="query.filePath != null and query.filePath != ''">
            AND a.file_path = #{query.filePath}
        </if>
    </select>


</mapper>
