<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.project.group.mapper.UserMtmGroupMapper">

    <select id="getMemberList" resultType="com.ew.project.group.dto.UserMtmGroupDto">
        SELECT a.*, t_user.real_name AS name, t_user.email, t_user.portrait AS avatar, t_user.description
        FROM t_user_mtm_group a
        JOIN t_user ON a.user_id = t_user.id
        WHERE a.group_id = #{query.groupId}
        <if test="query.name != null and query.name != ''">
            AND t_user.real_name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.email != null and query.email != ''">
            AND t_user.email LIKE CONCAT('%', #{query.email}, '%')
        </if>
        AND a.delete_flag = 0
        ORDER BY a.role ASC
        LIMIT #{query.offset}, #{query.limit}
    </select>

    <select id="memberListCount" resultType="Integer">
        SELECT COUNT(*)
        FROM t_user_mtm_group a
        JOIN t_user ON a.user_id = t_user.id
        WHERE a.group_id = #{query.groupId}
        <if test="query.name != null and query.name != ''">
            AND t_user.real_name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.email != null and query.email != ''">
            AND t_user.email LIKE CONCAT('%', #{query.email}, '%')
        </if>
        AND a.delete_flag = 0
    </select>

    <select id="getMemberListByGroupId" resultType="com.ew.project.group.dto.UserMtmGroupDto">
        SELECT a.*, t_user.real_name AS name, t_user.email
        FROM t_user_mtm_group a
        JOIN t_user ON a.user_id = t_user.id
        WHERE a.group_id = #{group_id}
        AND a.delete_flag = 0
        ORDER BY a.role ASC
    </select>

    <select id="getUserIdsByGroupId" resultType="string">
        SELECT user_id FROM t_user_mtm_group WHERE group_id = #{group_id} AND delete_flag = 0
    </select>
</mapper>
