<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.project.project.mapper.UserMtmProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ew.project.project.entity.UserMtmProject">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="user_id" property="userId"/>
        <result column="project_id" property="projectId"/>
        <result column="version" property="version"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by
        ,
        create_time,
        update_by,
        update_time,
        remark,
        id, user_id, project_id, version, create_id, update_id, delete_flag
    </sql>

    <select id="getTabsById" parameterType="string" resultType="string">
        SELECT tab
        FROM t_user_mtm_project a
                 JOIN t_project ON a.project_id = t_project.id
        WHERE t_project.create_id = #{user_id}
          AND a.delete_flag = 0
          AND t_project.delete_flag = 0
    </select>

    <select id="getProjectList" resultType="com.ew.project.project.dto.UserMtmProjectDto">
        SELECT a.id,
               a.user_id,
               a.project_id,
               b.group_id,
               (SELECT name FROM t_group WHERE id = b.group_id AND delete_flag = 0 LIMIT 1) AS group_name,
               b.name AS project_name,
               b.tab AS project_tab,
               b.description AS project_desc,
               b.create_id,
               (SELECT real_name FROM t_user WHERE id = b.create_id AND delete_flag = 0 LIMIT 1) AS create_by,
               b.create_time,
               b.update_id,
               (SELECT real_name FROM t_user WHERE id = b.update_id AND delete_flag = 0 LIMIT 1) AS update_by,
               b.update_time
        FROM
            t_user_mtm_project a
            JOIN t_project b
        ON a.project_id = b.id
        WHERE a.delete_flag = 0 AND b.delete_flag = 0 AND a.user_id = #{user_id}
        <if test="query.name != null and query.name != ''">
            AND b.name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.tab != null and query.tab != ''">
            AND b.tab LIKE CONCAT('%', #{query.tab}, '%')
        </if>
        ORDER BY b.update_time DESC
        LIMIT #{query.offset}, #{query.limit}
    </select>

    <select id="projectListCount" resultType="integer">
        SELECT COUNT(*)
        FROM
        t_user_mtm_project a
        JOIN t_project b
        ON a.project_id = b.id
        WHERE a.delete_flag = 0 AND b.delete_flag = 0 AND a.user_id = #{user_id}
        <if test="query.name != null and query.name != ''">
            AND b.name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.tab != null and query.tab != ''">
            AND b.tab LIKE CONCAT('%', #{query.tab}, '%')
        </if>
    </select>

    <select id="getProDtoById" resultType="com.ew.project.project.dto.UserMtmProjectDto">
        SELECT a.id,
               a.user_id,
               a.project_id,
               b.group_id,
               (SELECT name FROM t_group WHERE id = b.group_id AND delete_flag = 0 LIMIT 1) AS group_name,
               b.name AS project_name,
               b.tab AS project_tab,
               b.description AS project_desc,
               b.create_id,
               (SELECT real_name FROM t_user WHERE id = b.create_id AND delete_flag = 0 LIMIT 1) AS create_by,
               b.create_time,
               b.update_id,
               (SELECT real_name FROM t_user WHERE id = b.update_id AND delete_flag = 0 LIMIT 1) AS update_by,
               b.update_time
        FROM
        t_user_mtm_project a
        JOIN t_project b
        ON a.project_id = b.id
        WHERE a.delete_flag = 0
            AND b.delete_flag = 0
            AND a.user_id = #{user_id}
            AND a.project_id = #{project_id}
        LIMIT 1
    </select>
</mapper>
