<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.project.workitem.mapper.WorkItemOtmFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ew.project.workitem.entity.WorkItemOtmFile">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="work_item_id" property="workItemId" />
        <result column="file_id" property="fileId" />
        <result column="version" property="version" />
        <result column="create_id" property="createId" />
        <result column="update_id" property="updateId" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        remark,
        id, work_item_id, file_id, version, create_id, update_id, delete_flag
    </sql>
    <select id="getFileIdByWorkItemId" resultType="java.lang.String">
        SELECT file_id
        FROM t_work_item_otm_file
        WHERE work_item_id = #{workItemId}
    </select>

</mapper>
